$zerbitzuak-max-width:$grid-content;
$zerbitzuak-osagarriak-font-color:$color-gray-content2;

.zerbitzuak{
  max-width: $zerbitzuak-max-width;
  padding-top: 5rem;
  position: relative;
}

.zerbitzuak__intro{
  text-align: center;
}

.zerbitzuak__info{
  text-align: center;
}

.zerbitzuak__info__item{
  padding-top: 5rem;
}

.zerbitzuak__grid{
  display: grid;
  font-size: 3rem;
  grid-template-rows: 50% 50%;
}

.zerbitzuak__info .icon{
  height: 8rem;
  padding-bottom: 3rem;
}

.zerbitzuak__osagarriak{
  color:$zerbitzuak-osagarriak-font-color;
  padding-top: 5rem;
}

@media #{$breakpoints-medium} {


}

@media #{$breakpoints-large} {

  .zerbitzuak__grid{
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: 50% 50%;
  }  

  .zerbitzuak__info__item div{
    text-align: left;
  }

  .zerbitzuak__info .icon{
    height: 4rem;
    padding-bottom: 2rem;
  }


}

@media #{$breakpoints-xlarge} {

}